<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html   xmlns="http://www.w3.org/1999/xhtml" 
        xmlns=th"http://www.thymeleaf.org">



    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <header th:fragment="header">
            <h1>TechShop</h1>
            <p> Hola a todos </p>

        </header>

 


    </body>
</html>
